@media screen and (max-width:450px) {
    main {
        display: grid;
        text-align: center;
        grid-column: 1;
    }
}

@media screen and (min-width:450px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, 20em);
        text-align: center;
    }
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(319deg, rgba(2, 0, 36, 1) 20%, rgba(8, 8, 57, 1) 62%, rgba(27, 14, 41, 1) 92%);
    color: antiquewhite;
}

header {
    text-align: center;
    padding-top: 1.15em;
    padding-bottom: 2em;
    font-weight: bold;
    font-family: sans-serif; /*CUSTOM FONT HERE*/
}

article {
    display: flex;
    max-width: 250px;
    padding: 1.2em;

}


.content {
    border: 1px solid white;
    border-radius: 5px;
}

.foto img {
    max-width: 250px;
    max-height: 250px;
}

.text {
    max-width: 70%;
}