body {
    background: rgb(2, 0, 36);
    background: linear-gradient(319deg, rgba(2, 0, 36, 1) 20%, rgba(8, 8, 57, 1) 62%, rgba(27, 14, 41, 1) 92%);
    color: antiquewhite;
    font-family: serif;
    /*CUSTOM FONT HERE*/
}

header {
    text-align: center;
    padding-top: 1.15em;
    padding-bottom: 2em;
    font-weight: bold;
}

@media (min-width:320px) {
    main {
        display: grid;
        grid-column: 1;
        place-items: center;
    }
}
/*Makes it so that there is 1 row on small devices*/

@media (min-width:641px){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items:center;
    }
}
/*Makes it so that there are 2 rows on tablets and landscape phones*/

@media (min-width:961px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }
}
/*Makes it so that there are 3 rows on small laptops, landscape tablets*/

@media (min-width:1025px){
    main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
    }
}
/*Makes it so that there are 4 rows on bigger screens*/

article {
    display: grid;
    max-width: 250px;
    padding: 1.2em;

}
/*spacing, and max width of each card*/

.content {
    border: 1px solid white;
    border-radius: 5px;
}
/*shows the border of each card*/
.foto img {
    max-width: 250px;
    max-height: 250px;
}
/*makes the pictures 250px x 250px*/
.text {
    max-width: 250px;
    text-align: center;
}
/*centers text, makes the max width of it 250px, this makes it fit perfectly under the picture*/